.my-spinner {
  font-size: 1.75em;
  position: relative;
  align-self: center;
  align-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.spinner-black {
  font-size: 1.25em;
  position: relative;
  color: black;
  align-self: center;
  align-content: center;
  align-items: center;
  text-align: center;
}
