.my-spinner {
  font-size: 1.75em;
  position: relative;
  align-self: center;
  align-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.spinner-black {
  font-size: 1em;
  position: relative;
  color: inherit;
  text-align: auto;
  /* 
  align-self: center;
  align-content: center;
  align-items: center;
  text-align: center; */
}
