.my-spinner {
    font-size:1.75em;
    margin-left: 10px;
    margin-right: 10px;
    align-self: center;
    align-content: center;
    align-items: center;
    text-align: center;
    color: white;
}