.jumbo {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a0d8ef+0,ddf1f9+65,feffff+100 */
  background: #a0d8ef; /* Old browsers */
  background: -moz-linear-gradient(
    top,
    #a0d8ef 0%,
    #ddf1f9 65%,
    #feffff 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    #a0d8ef 0%,
    #ddf1f9 65%,
    #feffff 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    #a0d8ef 0%,
    #ddf1f9 65%,
    #feffff 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  font-family: 'Montserrat', sans-serif;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a0d8ef', endColorstr='#feffff',GradientType=0 ); /* IE6-9 */
  z-index: 19000;
  box-shadow: 0 5px 10px rgba(29, 29, 38, 0.741);
}

.jumbo h1 {
  font-family: 'Shadows Into Light', cursive;
}

.jumbo h6 {
  font-family: 'Shadows Into Light', cursive;
}

.avatar1 {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.jumbo .my-badge {
  float: right;
  font-family: 'Montserrat', sans-serif;
  margin-right: 20%;
}
